@page
@model CostControlApp.Pages.ProduseModel
@{
}
<br/>
<h1>
Catalog de produse
</h1>
<br/>
@*<table>
    <th>Nr.Crt</th>
    <th>Cod produs</th>
    <th>
        Dimensiuni
        (mm)
    </th>
    <th>Denumire</th>
    <th>Greutate</th>
    <th>€ /buc</th>
    <th>€ /mp </th>
    <th>€ /ml</th>
    <th>
        €/mp
        sistem*
    </th>
    <th>Culoare </th>
    <th>
        Nr buc pe
        pachet
    </th>
    <th>
        Finisaj
    </th>
    <tbody>
        foreach(var produse in Model.listProduse){
        <tr>
        <td>@produse</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    
        </tr>
        }

    </tbody>

</table>*@


  