@page
@model CostControlApp.Pages.Foaiebuna.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Foaie1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Foaie1.ManoperaId" />
            <div class="form-group">
                <label asp-for="Foaie1.Manopera" class="control-label"></label>
                <input asp-for="Foaie1.Manopera" class="form-control" />
                <span asp-validation-for="Foaie1.Manopera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foaie1.Um" class="control-label"></label>
                <input asp-for="Foaie1.Um" class="form-control" />
                <span asp-validation-for="Foaie1.Um" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foaie1.EuroM2" class="control-label"></label>
                <input asp-for="Foaie1.EuroM2" class="form-control" />
                <span asp-validation-for="Foaie1.EuroM2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foaie1.Cantitate" class="control-label"></label>
                <input asp-for="Foaie1.Cantitate" class="form-control" />
                <span asp-validation-for="Foaie1.Cantitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foaie1.TotalEur" class="control-label"></label>
                <input asp-for="Foaie1.TotalEur" class="form-control" />
                <span asp-validation-for="Foaie1.TotalEur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
